// Universal Reset
*,
*::before,
*::after {
  // Positioning
  // Display and Box Model
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // Typography
  // Other
}

// Links
a, ins {
  // Positioning
  // Display and Box Model
  // Typography
  text-decoration: none;
  // Other
}

// HTML
html {
  // Positioning
  // Display and Box model
  // Typography
  // Other
  scroll-behavior: smooth;
}