// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Font-Families
$font-stack-sans-serif: 'Roboto', Arial, sans-serif;
$font-stack-slab-serif: 'Bree Serif', 'Arial Black', sans-serif;
$font-stack-monospace: 'Source Code Pro', Courier, monospace;
$font-stack-serif: 'Alegreya', Times, serif;

// Typography
html {
  // Positioning
  // Display and Box model
  // Typography
  font-size: 100%;
  // Other

  body {
    // Positioning
    // Display and Box model
    // Typography
    color: $black-80;
    font-family: $font-stack-sans-serif;
    font-weight: 400;
    line-height: 1.75;
    text-rendering: optimizelegibility;
    // Other
  }

  h1, h2, h3, h4, h5, h6 {
    /* Positioning */
    /* Display and Box model */
    margin: 3rem 0 1.38rem;
    /* Typography */
    color: $black-100;
    font-family: $font-stack-slab-serif;
    font-weight: 700;
    line-height: 1.3;
    /* Other */
  }

  h1 {
    /* Positioning */
    /* Display and Box model */
    margin-top: 0;
    /* Typography */
    font-size: 3.052rem;
    /* Other */
  }

  h2 {
    /* Positioning */
    /* Display and Box model */
    /* Typography */
    font-size: 2.441rem;
    /* Other */
  }

  h3 {
    /* Positioning */
    /* Display and Box model */
    /* Typography */
    font-size: 1.953rem;
    /* Other */
  }

  h4 {
    /* Positioning */
    /* Display and Box model */
    /* Typography */
    font-size: 1.563rem;
    /* Other */
  }

  h5 {
    /* Positioning */
    /* Display and Box model */
    /* Typography */
    font-size: 1.25rem;
    /* Other */
  }

  h6 {
    /* Positioning */
    /* Display and Box model */
    /* Typography */
    font-size: 1rem;
    /* Other */
  }

  p {
    // Positioning
    // Display and Box model
    // Typography
    margin-bottom: 1.75rem;
    word-spacing: 0.25em;
    // Other
  }

  small, .text_small {
    /* Positioning */
    /* Display and Box model */
    /* Typography */
    font-size: 0.8rem;
    /* Other */
  }
}