@import 'variables.scss';
@import 'typography.scss';

section {
  // Positioning
  // Display and Box Model
  background-color: $white-100;
  border-color: $black-30;
  border-radius: $border-radius;
  border-style: solid;
  border-width: $border-width;
  // Typography
  // Other

  &#editor-container {
    // Positioning
    // Display and Box Model
    display: grid;
    grid-template-rows: auto auto 1fr;
    // Typography
    // Other
  }

  &#preview-container {
    // Positioning
    // Display and Box Model
    display: grid;
    grid-template-rows: auto 1fr;
    // Typography
    // Other
  }

  header {
    // Positioning
    // Display and Box Model
    background-color: $black-10;
    border-radius: $border-radius $border-radius 0 0;
    padding: calc(#{$gap-width} / 2);
    // Typography
    font-family: $font-stack-sans-serif;
    // Other

    small {
      // Positioning
      // Display and Box Model
      display: block;
      // Typography
      color: $black-70;
      font-weight: 700;
      letter-spacing: 0.1em;
      text-align: center;
      text-transform: uppercase;
      // Other
    }
  }

  menu {
    // Positioning
    // Display and Box Model
    background-color: $black-5;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
    padding: calc(#{$gap-width} / 2);
    // Typography
    // Other

    li {
      // Positioning
      // Display and Box Model
      margin: 1px;
      // Typography
      list-style-type: none;
      // Other

      button {
        // Positioning
        // Display and Box Model
        align-items: center;
        display: flex;
        background-color: $black-10;
        border-radius: $border-radius;
        height: 3rem;
        justify-content: center;
        width: 100%;
        // Typography
        color: $black-70;
        font-family: $font-stack-slab-serif;
        font-size: 1rem;
        font-weight: 600;
        // Other

        &:hover {
          // Positioning
          // Display and Box Model
          background-color: $black-20;
          // Typography
          color: $black-100;
          // Other
          cursor: pointer;
        }
      }
    }
  }

  form {
    // Positioning
    // Display and Box Model
    padding: calc(#{$gap-width} / 2);
    // Typography
    // Other

    textarea {
      // Positioning
      // Display and Box Model
      background-color: $black-5;
      border-color: $black-20;
      border-radius: $border-radius;
      border-style: solid;
      border-width: $border-width;
      height: auto;
      min-height: 100%;
      padding: calc(#{$gap-width} / 2);
      resize: none;
      vertical-align: top;
      width: 100%;
      // Typography
      font-family: $font-stack-monospace;
      // Other

      &:focus {
        // Positioning
        // Display and Box Model
        border: solid $border-width $highlight-100;
        outline: none;
        // Typography
        // Other
      }
    }
  }

  article {
    // Positioning
    // Display and Box Model
    padding: $gap-width;
    // Typography
    // Other

    a {
      /* Positioning */
      /* Display and Box model */
      /* Typography */
      color: $highlight-80;
      /* Other */

      &:hover {
        /* Positioning */
        /* Display and Box model */
        /* Typography */
        color: $highlight-100;
        text-decoration: underline;
        /* Other */
        cursor: pointer;
      }
    }

    abbr {
      /* Positioning */
      /* Display and Box model */
      /* Typography */
      font-feature-settings: "c2sc" 1, "onum" 1;
      font-style: normal;
      font-variant: small-caps;
      letter-spacing: 0.05em;
      /* Other */
      cursor: pointer;
    }

    blockquote {
      // Positioning
      // Display and Box model
      border-left: 5px solid $black-10;
      margin-bottom: 1.75rem;
      padding: 0 $gap-width;
      // Typography
      align-items: baseline;
      font-family: $font-stack-serif;
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.75rem;
      // Other

      p {
        // Positioning
        // Display and Box model
        // Typography
        margin: 0 0 calc(#{$gap-width} / 2) 0;
        /* Other */

        code {
        /* Positioning */
        /* Display and Box model */
        display: inline;
        /* Typography */
        /* Other */
        }
      }
    }

    code {
      /* Positioning */
      /* Display and Box model */
      background: $black-5;
      border-color: $black-20;
      border-radius: $border-radius;
      border-style: solid;
      border-width: $border-width;
      padding: 0.3125rem; // line height - font size - (2x border width) = top + bottom padding (5px)
      /* Typography */
      color: $code-100;
      font-family: $font-stack-monospace;
      font-size: 0.8rem;
      //font-size-adjust: 0.457;
      /* Other */
    }

    dl {
      dt {
        /* Positioning */
        /* Display and Box model */
        /* Typography */
        font-style: italic;
        font-weight: 700;
        /* Other */
      }
      dd {
        /* Positioning */
        /* Display and Box model */
        /* Typography */
        font-style: normal;
        /* Other */
      }
    }

    h2:first-child {
      // Positioning
      // Display and Box Model
      margin-top: 0;
      // Typography
      // Other
    }

    hr {
      // Positioning
      // Display and Box Model
      border-top: $border-width solid $black-20;
      margin: $gap-width 0;
      // Typography
      // Other
    }

    img {
      // Positioning
      // Display and Box Model
      max-width: 33%;
      // Typography
      // Other
    }

    ins {
      // Positioning
      // Display and Box Model
      background: $ins;
      display: inline-block;
      padding: 0 0.3125rem;
      // Typography
      text-decoration: none;
      // Other

      &:before {
      // Positioning
      // Display and Box Model
      margin-right: .3125rem;
      // Typography
      // Other
        content: "+";
      }
    }

    mark {
      // Positioning
      // Display and Box Model
      background: $mark;
      display: inline-block;
      padding: 0 0.3125rem;
      // Typography
      text-decoration: none;
      // Other
    }

    ol {
      /* Positioning */
      /* Display and Box model */
      padding: 0 calc(#{$gap-width} * 2);
      margin-bottom: 1.75rem;
      /* Typography */
      /* Other */

      &:last-child,
      &:only-child {
        /* Positioning */
        /* Display and Box model */
        margin-bottom: 0;
        /* Typography */
        /* Other */
      }

      p {
        /* Positioning */
        /* Display and Box model */
        margin-bottom: 0;
        /* Typography */
        /* Other */
      }
    }

    pre {
      /* Positioning */
      /* Display and Box model */
      padding: 0;
      margin: 0 0 1.75rem 0;
      width: 100%;
      /* Typography */
      /* Other */

      code {
        /* Positioning */
        /* Display and Box model */
        display: block;
        overflow-x: auto;
        overflow-wrap: normal;
        padding: calc(#{$gap-width} / 2);
        /* Typography */
        line-height: 1.75rem;
        /* Other */

        &[class]::before {
          /* Positioning */
          /* Display and Box model */
          background: $black-20;
          display: flex;
          height: 1.75rem;
          margin: calc(#{$gap-width} * (-0.5)) calc(#{$gap-width} * (-0.5)) 0 calc(#{$gap-width} * (-0.5));
          padding: 0 calc(#{$gap-width} * (0.5));
          /* Typography */
          color: $black-70;
          font-family: $font-stack-sans-serif;
          font-size: 0.8rem;
          font-style: normal;
          font-variant: small-caps;
          letter-spacing: 0.05em;
          line-height: 1.75rem;
          /* Other */
          content: attr(class);
        }

        .hljs-keyword, .hljs-selector-tag, .hljs-subst {
          font-weight: 600;
        }

        .hljs-number, .hljs-literal, .hljs-variable, .hljs-template-variable, .hljs-tag .hljs-attr {
          color: #0086b3;
        }
      }
    }

    section {
      /* Positioning */
      /* Display and Box model */
      border: none;
      /* Typography */
      /* Other */
    }

    table {
      /* Positioning */
      /* Display and Box model */
      border-collapse: separate;
      border-spacing: 0;
      margin-bottom: 1.75rem;
      width: 100%;
      /* Typography */
      /* Other */

      thead {
        /* Positioning */
        /* Display and Box model */
        height: 1.75rem;
        /* Typography */
        color: $black-70;
        /* Other */

        tr {
          &:first-child {
            th {
              &:first-child {
                /* Positioning */
                /* Display and Box model */
                border-top-left-radius: $border-radius;
                /* Typography */
                /* Other */
              }

              &:last-child {
                /* Positioning */
                /* Display and Box model */
                border-top-right-radius: $border-radius;
                /* Typography */
                /* Other */
              }
            }
          }

          th {
            /* Positioning */
            /* Display and Box model */
            background-color: $black-20;
            border-top: 0 solid $black-20;
            border-right: 0 solid $black-20;
            border-bottom: 0 solid $black-20;
            padding: 0 calc(#{$gap-width} / 2);
            /* Typography */
            color: $black-70;
            font-family: $font-stack-sans-serif;
            font-size: 0.8rem;
            font-style: normal;
            font-variant: small-caps;
            font-weight: 400;
            letter-spacing: 0.05em;
            line-height: 1.75rem;
            /* Other */
          }
        }
      }

      tbody {
        tr {
          &:last-child {
            td {
              &:first-child {
                /* Positioning */
                /* Display and Box model */
                border-bottom-left-radius: $border-radius;
                /* Typography */
                /* Other */
              }

              &:last-child {
                /* Positioning */
                /* Display and Box model */
                border-bottom-right-radius: $border-radius;
                /* Typography */
                /* Other */
              }
            }
          }

          td {
            /* Positioning */
            /* Display and Box model */
            border-right: $border-width solid $black-20;
            border-bottom: $border-width solid $black-20;
            padding: calc(#{$gap-width} / 2 - #{$border-width}) calc(#{$gap-width} / 2) calc(#{$gap-width} / 2) calc(#{$gap-width} / 2);
            /* Typography */
            /* Other */

            &:first-child {
              /* Positioning */
              /* Display and Box model */
              border-left: $border-width solid $black-20;
              /* Typography */
              /* Other */
            }
          }
        }
      }
    }

    ul {
      /* Positioning */
      /* Display and Box model */
      padding: 0 calc(#{$gap-width} * 2);
      margin-bottom: 1.75rem;
      /* Typography */
      /* Other */

      ul {
        /* Positioning */
        /* Display and Box model */
        margin-bottom: 0;
        /* Typography */
        /* Other */
      }
    }

    .footnotes {
      /* Positioning */
      /* Display and Box model */
      column-count: 2;
      /* Typography */
      /* Other */

      ol {
        /* Positioning */
        /* Display and Box model */
        padding: 0 $gap-width;
        /* Typography */
        /* Other */
      }
    }

    .error {
      /* Positioning */
      /* Display and Box model */
      display: flex; // workaround the extra whitespace created by inline elements
      background-color: $code-40;
      border-radius: $border-radius;
      padding: calc(#{$gap-width} / 2);
      /* Typography */
      color: $code-100;
      /* Other */

      &:before {
        /* Positioning */
        /* Display and Box model */
        padding: 0 0.3125rem;
        margin-right: 0.3125rem;
        /* Typography */
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        text-align: center;
        /* Other */
        content: "\f06a"
      }

      p {
        /* Positioning */
        /* Display and Box model */
        display: inline-block;
        margin: 0;
        /* Typography */
        /* Other */
      }
    }
  }

  footer {
    // Positioning
    // Display and Box Model
    background-color: $black-5;
    border-radius: 0 0 $border-radius $border-radius;
    padding: calc(#{$gap-width} / 2);
    // Typography
    color: $black-70;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    font-family: $font-stack-sans-serif;
    // Other

    a {
      /* Positioning */
      /* Display and Box model */
      /* Typography */
      color: $highlight-80;
      /* Other */

      &:hover {
        /* Positioning */
        /* Display and Box model */
        /* Typography */
        color: $highlight-100;
        text-decoration: underline;
        /* Other */
        cursor: pointer;
      }
    }
  }
}