@import 'variables.scss';
@import 'browser-reset.scss';
@import 'typography.scss';

main {
  // Positioning
  // Display and Box Model
  background-color: $black-20;
  display: grid;
  gap: $gap-width;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  padding: $gap-width;
  // Typography
  // Other
}